body{
margin:0;
font-family:Segoe UI;
background:#0f172a;
color:white;
}

header{
background:#020617;
padding:20px;
display:flex;
justify-content:space-between;
}

header h1{
color:#facc15;
}

.cart{
background:#facc15;
color:black;
padding:8px 14px;
border-radius:8px;
}

nav{
background:#1e293b;
text-align:center;
padding:12px;
}

nav a{
color:white;
margin:0 15px;
text-decoration:none;
}

.hero{
padding:70px;
text-align:center;
}

.products{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:25px;
padding:40px;
}

.card{
background:#1e293b;
padding:20px;
border-radius:10px;
text-align:center;
}

.card img{
height:220px;
object-fit:contain;
}

button{
background:#22c55e;
border:none;
padding:10px;
border-radius:6px;
color:white;
cursor:pointer;
}